<%= link_to new_dish_path do %>
  <p>Ajouter un plat</p>
<% end %>


<div class="dish_card_container">
  <% @dishes.each do |dish| %>
    <%= link_to dish_path(dish), class:"dish_card" do %>
      <%= if dish.photo &&  dish.photo != "no photo" then image_tag dish.photo end %>
      <div class="dish_card_titleprice">
        <p><%= dish.title %></p>
        <p><%= dish.price %></p>
      </div>
      <div class="dish_card_description">
        <p><%= dish.description %></p>
      </div>
    <% end %>
    <div class="dish_card_orderdish">
      <%= form_with url: ordered_items_path, method: :post, data: {turbo: false}, local: true do |f| %>
        <%= f.hidden_field :dish_id, value: dish.id, name: "ordered_item[dish_id]" %>
        <%= f.submit "Commander le plat" %>
      <% end %>
    </div>
  <% end %>
</div>
